<section id="address-book">
  <h1 class="header-primary">Address Book</h1>
  <p>You haven't created any contacts yet. The list of your contacts will be displayed here.</p>

<div class="contacts-table__wrapper">
  <table class="contacts-table">
   <thead class="contacts-table__head">
     <tr>
       <th class="contacts-table__img-th">
         <img src="//randomuser.me/api/portraits/thumb/men/7.jpg" width="48" height="48" alt="contact-pic">
       </th>
       <th class="contacts-table__name-th">John Doe</th>
     </tr>
   </thead>
   <tbody>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">DOB</td>
       <td class="contacts-table__td">14.09.1976</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">Sex</td>
       <td class="contacts-table__td">M</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">Address</td>
       <td class="contacts-table__td">Бердянск, наб. Морская, 777</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">E-mail</td>
       <td class="contacts-table__td">kickmeinthenuts@fuck-you.com</td>
     </tr>
   </tbody>
 </table>
</div>

<div class="contacts-table__wrapper">
  <table class="contacts-table">
   <thead class="contacts-table__head">
     <tr>
       <th class="contacts-table__img-th">
         <img src="//randomuser.me/api/portraits/thumb/women/13.jpg" width="48" height="48" alt="contact-pic">
       </th>
       <th class="contacts-table__name-th">Jane Doe</th>
     </tr>
   </thead>
   <tbody>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">DOB</td>
       <td class="contacts-table__td">29.02.1996</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">Sex</td>
       <td class="contacts-table__td">F</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">Address</td>
       <td class="contacts-table__td">Shitsville, 11 Coprophiliac str.</td>
     </tr>
     <tr class="contacts-table__tr">
       <td class="contacts-table__td">E-mail</td>
       <td class="contacts-table__td">cornholio@turdholio.com</td>
     </tr>
   </tbody>
 </table>
</div>

</section>
