<meta charset="UTF-8">
<!-- <meta name=viewport content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="css/main.min.css">

<link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">

<!-- Apple iOS devices and Google Android Devices -->
<link rel="apple-touch-icon-precomposed" href="img/favicons/hal9000-152-187546.png">

<!-- IE 10 Metro Tile Icon -->
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="img/favicons/hal9000-144-187546.png">

<title>Mailbox</title>
