<section data-ng-if="!$ctrl.selectedLetter">
  <table class="mail-table">
    <tbody>
      <tr class="mail-table__row" data-ng-repeat="letter in $ctrl.letters" data-ng-click="$ctrl.showLetter(letter)">
        <td class="mail-table__subject is-truncated">
          {{letter.subject}}
        </td>
        <td class="mail-table__body is-truncated">
          {{letter.body.slice(0, 75) + '&hellip;'}}
      </tr>
    </tbody>
  </table>

  <h2 class="header-secondary">Total letters: {{$ctrl.letters.length}}</h2>
</section>

<section data-ng-if="$ctrl.selectedLetter">
  <letter data-letter="$ctrl.selectedLetter"></letter>
</section>
