<section id="mail-list">
  <h1 class="header-primary">Inbox</h1>
  <table class="mail-table">
    <tbody>
      <tr ui-sref="letter({ letterId: letter._id })" class="mail-table__row" data-ng-repeat="letter in $ctrl.letters">
        <td class="mail-table__subject is-truncated">
          {{letter.subject}}
        </td>
        <td class="mail-table__body is-truncated">
          {{letter.body.slice(0, 75) + '&hellip;'}}
      </tr>
    </tbody>
  </table>

  <h2 class="header-secondary">Total letters: {{$ctrl.letters.length}}</h2>
</section>
