.login-form {
  position: absolute;
  @include abs-center-margins(true, false);
  top: 25vh;
  width: 80%;
  max-width: 340px;
  padding: 20px;
  border: 2px solid $color-blue;
  border-radius: 20px;

  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(150deg, #{$color-main}, #1a2d3b);
  }

  &__header {
    @extend %header-appearance;
    margin: .5em 0 1em;
    font-size: $header;
    text-align: center;
  }

  &__input,
  &__btn { 
    width: 100%;
    min-height: 35px;
  }

  &__input {
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  &__btn { margin: 10px 0; }
}
