%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%hyphens {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

%header-appearance {
  font-weight: 300;
  color: $palette-light;
}
