/* Paths */
$fonts-path: "../fonts"; // Relative to the compiled CSS file!

/* Dimensions */
$sm: 768px;

/* Retina */
$retina2x: "(min-resolution: 2dppx)";
$retina3x: "(min-resolution: 3dppx)";

/* Sizes */
$navbar-height: 55px;

/* Colors */
$palette-main: #3e545f;
$palette-light: #fff;
$palette-dark: #000;
$text-base: #8da3c5;

/* Typography */
$p: 16px;
$header: 1.5 * $p;
$header-xl: 2 * $p;


/* etc */
$over9000: -9999px;
